<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556121620278-4b5p7g72ad5uk7ejr0f5sla6vjaao1i6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556121620278-4b5p7g72ad5uk7ejr0f5sla6vjaao1i6</string>
	<key>API_KEY</key>
	<string>AIzaSyDun8oXVqGbXcihtWhXyqezwuyORCDV9RU</string>
	<key>GCM_SENDER_ID</key>
	<string>556121620278</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twilite</string>
	<key>PROJECT_ID</key>
	<string>elite-group-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>elite-group-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556121620278:ios:22bfb3641e693982aefd97</string>
	<key>DATABASE_URL</key>
	<string>https://elite-group-chat-default-rtdb.firebaseio.com</string>
</dict>
</plist>